In [1]:
%load_ext sql
%sql sqlite:///FinalProject.db

In [2]:
%%sql
Drop Table if Exists Students;
Create Table Students(
    StudentID integer Primary Key,
    SName Char(20));

Drop Table if Exists Courses;
Create Table Courses(
    CourseID integer Primary Key,
    Cname Char(20),
    Credits integer);

Drop Table if Exists Enrollments;
Create Table Enrollments(
    sid integer,
    cid integer,
    Foreign Key(sid) References Students(StudentID),
    Foreign Key(cid) References Courses(CourseID));

 * sqlite:///FinalProject.db
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [3]:
%%sql
Delete From Students;
Delete From Courses;
Delete From Enrollments;

Insert into Students values(101, 'Andrew');
Insert into Students values(102, 'Corey');
Insert into Students values(103, 'Joshua');
Insert into Students values(104, 'Reggie');
Insert into Students values(105, 'Harold');

Insert into Courses values(1101, 'Math', 4);
Insert into Courses values(1102, 'Science', 4);
Insert into Courses values(1103, 'English', 4);
Insert into Courses values(1104, 'History', 4);
Insert into Courses values(1105, 'Gym', 3);

Insert into Enrollments values(101, 1101);
Insert into Enrollments values(101, 1105);
Insert into Enrollments values(102, 1101);
Insert into Enrollments values(102, 1103);
Insert into Enrollments values(103, 1102);
Insert into Enrollments values(103, 1104);
Insert into Enrollments values(104, 1103);
Insert into Enrollments values(104, 1102);
Insert into Enrollments values(105, 1105);
Insert into Enrollments values(105, 1101);

 * sqlite:///FinalProject.db
0 rows affected.
0 rows affected.
0 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [6]:
userInput = input("Please enter a Student ID (101 - 105 or -1 to create a new Student ID): ")
userInput = int(userInput)
if(userInput == -1 or userInput <= 105 and userInput >=101):
    if(userInput == -1):
        userInput = input("You have chosen -1, Please enter a new ID (I.E. 106, 107, 108...): ") 
        userName = input("Enter your name: ")
        %sql Insert into Students values(:userInput, :userName);#Adding new student
        result4 = %sql Select * From Students S
        print(result4) #Checking for new student
        
    print("L - Lists all records in the course table")
    print("E - Enrolls the active student in a course - User is prompted for course ID - Check for conflicts (No Duplicate Course ID)")
    print("W - Deletes an entry in the Enrollment table corresponding to active student - Student is prompted for course ID to be withdrawn from")
    print("S - Search course based on substring of course name which is given by user - List all matching courses")
    print("M - Lists all classes enrolled in by the active student")
    print("X - Exit Application") #Menu part of program
    
    isDone = False

    while (not isDone):
        userInput2 = input("Please enter a Letter (L, E, W, S, M, X to Exit): ")

        if (userInput2.upper() == "L"):  # List
            print("Listing all records in Courses table:")
            result = %sql SELECT * FROM Courses C
            print(result)
        elif (userInput2.upper() == "E"):  # Enroll
            userCourse = input("Please enter a Course ID to enroll student in: ")
            # Validate if the input is an integer before converting
            if (userCourse.isdigit()):
                userCourse = int(userCourse)
                print("Enrolling active student in Course")
                %sql Insert into Enrollments values(:userInput, :userCourse)
            else:
                print("Invalid input. Course ID must be an integer.")
        elif ((userInput2.upper() == "W")):  # Withdraw
            userDelete = input("Please enter a course ID to un-enroll student from: ")
            # Validate if the input is an integer before converting
            if (userDelete.isdigit()):
                userDelete = int(userDelete)
                print("Deleting an active entry in the Enrollment table:")
                %sql DELETE FROM Enrollments E WHERE E.cid = :userDelete AND E.sid = :userInput
            else:
                print("Invalid input. Course ID must be an integer.")
        elif (userInput2.upper() == "S"):  # Search
            print("Search course - List all matching:")
            userSubstring = input("Search for a course: ")
            result2 = %sql SELECT * FROM Courses C WHERE CName LIKE '%' || :userSubstring || '%'
            print(result2)
        elif (userInput2.upper() == "M"):  # My Classes
            print("List all classes enrolled by student:")
            result3 = %sql SELECT CName, CourseID, StudentID FROM Enrollments E, Courses C, Students S WHERE E.cid = C.CourseID AND E.sid = S.StudentID AND E.sid = :userInput
            print(result3)
        elif (userInput2.upper() == "X"):  # Exit
            isDone = True
            print("Exiting Program")
        else:
            print("Incorrect Input. Please enter a valid option.")
else:
    print("Incorrect input. Re-Run.")

Please enter a Student ID (101 - 105 or -1 to create a new Student ID): 101
L - Lists all records in the course table
E - Enrolls the active student in a course - User is prompted for course ID - Check for conflicts (No Duplicate Course ID)
W - Deletes an entry in the Enrollment table corresponding to active student - Student is prompted for course ID to be withdrawn from
S - Search course based on substring of course name which is given by user - List all matching courses
M - Lists all classes enrolled in by the active student
X - Exit Application
Please enter a Letter (L, E, W, S, M, X to Exit): S
Search course - List all matching:
Search for a course: ma
 * sqlite:///FinalProject.db
Done.
+----------+-------+---------+
| CourseID | Cname | Credits |
+----------+-------+---------+
|   1101   |  Math |    4    |
+----------+-------+---------+
Please enter a Letter (L, E, W, S, M, X to Exit): X
Exiting Program